.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-button, .logout-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover, .logout-button:hover {
    background-color: #cbc8c8;
}

.nav-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #cbc8c8;
}
